<!--<div ng-controller="VacationApprovalCtrl as va">-->
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-2 control-label">{{'Name' | translate}}:</label>

        <div class="col-xs-4 col-sm-3 col-md-2">
            <input type="text" class="form-control" placeholder="{{'FirstName' | translate}}"
                   ng-model="va.model.Data.Employee.FirstName"
                   rule="va.model.EmployeeValidator">

            <div class="validation-error">
                {{va.model.EmployeeValidator.Rules["FirstName"].ErrorMessage}}
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <input type="text" class="form-control" placeholder="{{'LastName' | translate}}"
                   ng-model="va.model.Data.Employee.LastName"
                   rule="va.model.EmployeeValidator">

            <div class="validation-error">
                {{va.model.EmployeeValidator.Rules["LastName"].ErrorMessage}}
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-2 control-label">{{'Duration' | translate}}:</label>

        <div class="col-xs-4 col-sm-3 col-md-2">
            <p class="input-group">
                <input type="text" class="form-control" placeholder="{{'From' | translate}}"
                       datepicker-popup="dd.MM.yyyy" rule="va.model.DurationValidator" ng-model="va.model.Data.Duration.From"
                       is-open="$parent.va.openedFrom" min-date="minDate" max-date="'2015-06-22'"
                       datepicker-options="va.dateOptions" date-disabled="va.disabled(date, mode)" close-text="Close" ng-change="va.rangeChange()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="va.openFrom($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>

            <div val-result="va.model.DurationValidator.Rules['From']"></div>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">

            <p class="input-group">
                <input type="text" class="form-control" placeholder="{{'To' | translate}}" datepicker-popup="dd.MM.yyyy"
                       rule="va.model.DurationValidator" ng-model="va.model.Data.Duration.To" is-open="$parent.va.openedTo"
                       min-date="minDate" max-date="'2015-06-22'" datepicker-options="va.dateOptions"
                       date-disabled="va.disabled(date, mode)" close-text="Close" ng-change="va.rangeChange()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="va.openTo($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>


            <div val-result="va.model.DurationValidator.Rules['To']"></div>

        </div>
        <div class="col-xs-2" style="margin-top: 5px">
            <b>{{va.days()}} {{'DAYS_TEXT'| translate}}</b>
        </div>
    </div>

    <!--<div class="form-group">-->
        <div class="col-xs-offset-2 col-xs-10">
            <div error="va.model.DurationValidator.Validators['VacationDuration'].Error"></div>
        </div>
    <!--</div>-->

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="va.model.Data.Duration.ExcludedDaysChecked">{{'ExcludedDays' | translate}}
                </label>
            </div>
        </div>
    </div>

    <div ng-show="va.model.Data.Duration.ExcludedDaysChecked">
        <div class="col-xs-offset-2 col-xs-10">
            <div ng-repeat="day in va.vacationDays">
               <span ng-click="va.toggleExcludedDays(day)" ng-class="{'selected':va.excludedDaysContains(day)}"> {{day | date:'fullDate'}}</span>
            </div>
        </div>
    </div>

    <div class="form-group"></div>
    <div class="form-group"></div>

    <div class="form-group">
        <label class="col-xs-2 control-label">{{'Manager' | translate}}:</label>

        <div class="col-xs-4 col-sm-3 col-md-2">
            <input type="text" class="form-control" placeholder="{{'FirstName' | translate}}"
                   ng-model="va.model.Data.Approval.ApprovedBy.FirstName"
                   rule="va.model.ApprovedByValidator">

            <div class="validation-error">
                {{va.model.ApprovedByValidator.Rules["FirstName"].ErrorMessage}}
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <input type="text" class="form-control" placeholder="{{'LastName' | translate}}"
                   ng-model="va.model.Data.Approval.ApprovedBy.LastName"
                   rule="va.model.ApprovedByValidator">

            <div class="validation-error">
                {{va.model.ApprovedByValidator.Rules["LastName"].ErrorMessage}}
            </div>
        </div>
    </div>
    <field rule="va.model.ApprovedByValidator" ng-model="va.model.Data.Approval.ApprovedBy.Email" label="Email:"></field>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="va.model.Data.Approval.ApprovedBy.Checked" ng-click="va.copyApprovedBy()">{{'DeputyIsManager' | translate}}
                </label>
            </div>
        </div>
    </div>


    <!--<div ng-hide="va.model.Data.Approval.ApprovedBy.Checked">-->

        <div class="form-group">
            <label class="col-xs-2 control-label">{{'Deputy1' | translate}}:</label>

            <div class="col-xs-4 col-sm-3 col-md-2">
                <input type="text" class="form-control" placeholder="{{'FirstName' | translate}}"
                       ng-model="va.model.Data.Deputy1.FirstName" ng-disabled="va.model.Data.Approval.ApprovedBy.Checked"
                       rule="va.model.Deputy1Validator">

                <div ng-show="va.model.Deputy1Validator.ValidationResult.HasErrors" class="validation-error">
                    {{va.model.Deputy1Validator.Rules["FirstName"].ErrorMessage}}
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <input type="text" class="form-control" placeholder="{{'LastName' | translate}}"
                       ng-model="va.model.Data.Deputy1.LastName" ng-disabled="va.model.Data.Approval.ApprovedBy.Checked"
                       rule="va.model.Deputy1Validator">

                <div ng-show="va.model.Deputy1Validator.ValidationResult.HasErrors" class="validation-error">
                    {{va.model.Deputy1Validator.Rules["LastName"].ErrorMessage}}
                </div>
            </div>
        </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Email:</label>
        <div class="col-xs-10 col-sm-7 col-md-5">
            <input type="text" class="form-control"  ng-model="va.model.Data.Deputy1.Email" ng-disabled="va.model.Data.Approval.ApprovedBy.Checked" placeholder="Email">
            <div ng-show="va.model.Deputy1Validator.ValidationResult.HasErrors" class="validation-error">
                {{va.model.Deputy1Validator.Rules["Email"].ErrorMessage}}
            </div>
        </div>
    </div>
        <!--<field rule="va.model.Deputy1Validator" ng-model="va.model.Data.Deputy1.Email" ng-disabled="va.model.Data.Approval.ApprovedBy.Checked" label="Email"></field>-->
    <!--</div>-->


    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="va.model.Data.Deputy2.Checked">{{'Deputy2' | translate}}
                </label>
            </div>
        </div>
    </div>


    <div ng-show="va.model.Data.Deputy2.Checked">
        <div class="row">
            <div class="col-xs-12 validation-error">
                {{va.model.DeputyDiffNamesValidator.ErrorMessage}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">{{'Deputy2' | translate}}:</label>

            <div class="col-xs-4 col-sm-3 col-md-2">
                <input type="text" class="form-control" placeholder="{{'FirstName' | translate}}"
                       ng-model="va.model.Data.Deputy2.FirstName"
                       rule="va.model.Deputy2Validator">

                <div class="validation-error">
                    {{va.model.Deputy2Validator.Rules["FirstName"].ErrorMessage}}
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <input type="text" class="form-control" placeholder="{{'LastName' | translate}}"
                       ng-model="va.model.Data.Deputy2.LastName"
                       rule="va.model.Deputy2Validator">

                <div class="validation-error">
                    {{va.model.Deputy2Validator.Rules["LastName"].ErrorMessage}}
                </div>
            </div>
        </div>
        <field rule="va.model.Deputy2Validator" ng-model="va.model.Data.Deputy2.Email"
               label="Email:"></field>

    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="button" class="btn btn-primary"  ng-click="va.save()">{{ 'DocOperationButtonSave' | translate}}</button>
        </div>
    </div>
    <!--<pre>{{va.model.Data   | json}}</pre>-->
</form>
<!--</div>-->