<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div ng-include src="'partials/header.tpl.html'"></div>
</nav>


<div class="panel panel-primary">
    <div class="panel-heading">{{'VacationApprovalFuture'| translate}}</div>
    <div class="panel-body">
        <ul class="list-inline">
            <li class="list-group" ng-repeat="doc in docsQueryFuture">

                <a ng-dblclick="edit(doc.$id())" ng-click="toggle(doc.$id())" class="list-group-item"
                   ng-class="{'selected':selection.indexOf(doc.$id()) != -1}">
                    <h4 class="list-group-item-heading">{{doc.data.Employee | person}}</h4>

                    <p class="list-group-item-text">{{doc.data.Duration | duration:'dd.MM.yyyy'}}</p>

                    <p class="list-group-item-text">{{'Deputy' | translate}}:<b>{{doc.data.Deputy1 | person}}</b></p>
                </a>

            </li>
        </ul>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">{{'VacationApprovalToday' | translate}}</div>
    <div class="panel-body">
        <ul class="list-inline">
            <li class="list-group" ng-repeat="doc in docsQueryToday">

                <a ng-dblclick="edit(doc.$id())" ng-click="toggle(doc.$id())" class="list-group-item"
                   ng-class="{'selected':selection.indexOf(doc.$id()) != -1}">
                    <h4 class="list-group-item-heading">{{doc.data.Employee | person}}</h4>

                    <p class="list-group-item-text">{{doc.data.Duration | duration:'dd.MM.yyyy'}}</p>

                    <p class="list-group-item-text">{{'Deputy' | translate}}:<b>{{doc.data.Deputy1 | person}}</b></p>
                </a>

            </li>
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">{{'VacationApprovalHistory' | translate}}</div>
    <div class="panel-body">
        <ul class="list-inline">
            <li class="list-group" ng-repeat="doc in docsQueryOld">

                <a ng-dblclick="edit(doc.$id())" ng-click="toggle(doc.$id())" class="list-group-item"
                   ng-class="{'selected':selection.indexOf(doc.$id()) != -1}">
                    <h4 class="list-group-item-heading">{{doc.data.Employee | person}}</h4>

                    <p class="list-group-item-text">{{doc.data.Duration | duration:'dd.MM.yyyy'}}</p>

                    <p class="list-group-item-text">{{'Deputy' | translate}}:<b>{{doc.data.Deputy1 | person}}</b></p>
                </a>

            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        ...
    </div>
</nav>
