<!-- Brand and toggle get grouped for better mobile display -->
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ 'BusinessRules' | translate}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/docs">{{ 'Documents' | translate }}</a></li>
            <!--<li><a href="#/dashboard">{{ 'Dashboard' | translate }}</a></li>-->

        </ul>
        <div ng-hide="va.isForm" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" ng-model="search.Text" class="form-control" placeholder="{{'SearchText' | translate}}">
            </div>
            <!--<button type="submit" class="btn btn-default">{{'Search' | translate}}</button>-->
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="va.isForm"><a ng-click="va.save()">{{ 'DocOperationButtonSave' | translate }}</a></li>
            <li ng-hide="va.isForm" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ 'DocOperation' | translate }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/edit">{{ 'DocOperationEdit' | translate }}</a></li>
                    <li><a  ng-click="cancelDocs()">{{ 'DocOperationCancel' | translate }}</a></li>
                    <!--<li><a href="#">{{ 'DocOperationCopy' | translate }}</a></li>-->
                    <!--<li><a href="#">{{ 'DocOperationPrint' | translate }}</a></li>-->
                    <li class="divider"></li>
                    <li><a  ng-click="approveDocs()">{{ 'DocOperationApprove' | translate }}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ 'Language' | translate }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="changeLanguage('en')">{{ 'English' | translate }}</a></li>
                    <li><a ng-click="changeLanguage('de')">{{ 'German' | translate }}</a></li>
                    <li><a ng-click="changeLanguage('cz')">{{ 'Czech' | translate }}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styl
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:setTheme('amelia', '/css/themes/amelia/')">amelia</a>
                    </li>
                    <li><a href="javascript:setTheme('cerulean', '/css/themes/cerulean/')">cerulean</a>
                    </li>
                    <li><a href="javascript:setTheme('cosmo', '/css/themes/cosmo/')">cosmo</a>
                    </li>
                    <li><a href="javascript:setTheme('cyborg', '/css/themes/cyborg/')">cyborg</a>
                    </li>
                    <li><a href="javascript:setTheme('darkly', '/css/themes/darkly/')">darkly</a>
                    </li>
                    <li><a href="javascript:setTheme('flatly', '/css/themes/flatly/')">flatly</a>
                    </li>
                    <li><a href="javascript:setTheme('journal', '/css/themes/journal/')">journal</a>
                    </li>
                    <li><a href="javascript:setTheme('lumen', '/css/themes/lumen/')">lumen</a>
                    </li>
                    <li><a href="javascript:setTheme('readable', '/css/themes/readable/')">readable</a>
                    </li>
                    <li><a href="javascript:setTheme('simplex', '/css/themes/simplex/')">simplex</a>
                    </li>
                    <li><a href="javascript:setTheme('slate', '/css/themes/slate/')">slate</a>
                    </li>
                    <li><a href="javascript:setTheme('spacelab', '/css/themes/spacelab/')">spacelab</a>
                    </li>
                    <li><a href="javascript:setTheme('superhero', '/css/themes/superhero/')">superhero</a>
                    </li>
                    <li><a href="javascript:setTheme('yeti', '/css/themes/yeti/')">yeti</a>
                    </li>
                    <li><a href="javascript:setTheme('united', '/css/themes/united/')">united</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>